version: '3.8'

services:
  dist1:
    image: seenv/aps-mini-apps-dist:latest
    network_mode: host
    #command: python /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py --data_source_addr tcp://10.52.1.30:5101 --data_source_synch_addr tcp://10.52.1.30:5100 --cast_to_float32 --normalize --my_distributor_addr tcp://*:5200 --beg_sinogram 1000 --num_sinograms 2 --num_columns 2560
    command:
      - python
      - /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py
      - --data_source_addr
      - tcp://10.52.1.30:5101
      - --data_source_synch_addr
      - tcp://10.52.1.30:5100
      - --skip_serialize
      - --cast_to_float32
      - --normalize
      - --my_distributor_addr
      - tcp://*:5201
      - --beg_sinogram
      - "1000"
      - --num_sinograms
      - "2"
      - --num_columns
      - "2560"

  dist2:
    image: seenv/aps-mini-apps-dist:latest
    network_mode: host
    #command: python /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py --data_source_addr tcp://10.52.1.30:5101 --data_source_synch_addr tcp://10.52.1.30:5100 --cast_to_float32 --normalize --my_distributor_addr tcp://*:5200 --beg_sinogram 1000 --num_sinograms 2 --num_columns 2560
    command:
      - python
      - /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py
      - --data_source_addr
      - tcp://10.52.1.30:5103
      - --data_source_synch_addr
      - tcp://10.52.1.30:5102
      - --skip_serialize
      - --cast_to_float32
      - --normalize
      - --my_distributor_addr
      - tcp://*:5202
      - --beg_sinogram
      - "1000"
      - --num_sinograms
      - "2"
      - --num_columns
      - "2560"

  dist3:
    image: seenv/aps-mini-apps-dist:latest
    network_mode: host
    #command: python /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py --data_source_addr tcp://10.52.1.30:5101 --data_source_synch_addr tcp://10.52.1.30:5100 --cast_to_float32 --normalize --my_distributor_addr tcp://*:5200 --beg_sinogram 1000 --num_sinograms 2 --num_columns 2560
    command:
      - python
      - /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py
      - --data_source_addr
      - tcp://10.52.1.30:5105
      - --data_source_synch_addr
      - tcp://10.52.1.30:5104
      - --skip_serialize
      - --cast_to_float32
      - --normalize
      - --my_distributor_addr
      - tcp://*:5203
      - --beg_sinogram
      - "1000"
      - --num_sinograms
      - "2"
      - --num_columns
      - "2560"

  dist4:
    image: seenv/aps-mini-apps-dist:latest
    network_mode: host
    #command: python /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py --data_source_addr tcp://10.52.1.30:5101 --data_source_synch_addr tcp://10.52.1.30:5100 --cast_to_float32 --normalize --my_distributor_addr tcp://*:5200 --beg_sinogram 1000 --num_sinograms 2 --num_columns 2560
    command:
      - python
      - /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py
      - --data_source_addr
      - tcp://10.52.1.30:5107
      - --data_source_synch_addr
      - tcp://10.52.1.30:5106
      - --skip_serialize
      - --cast_to_float32
      - --normalize
      - --my_distributor_addr
      - tcp://*:5204
      - --beg_sinogram
      - "1000"
      - --num_sinograms
      - "2"
      - --num_columns
      - "2560"

  dist5:
    image: seenv/aps-mini-apps-dist:latest
    network_mode: host
    #command: python /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py --data_source_addr tcp://10.52.1.30:5101 --data_source_synch_addr tcp://10.52.1.30:5100 --cast_to_float32 --normalize --my_distributor_addr tcp://*:5200 --beg_sinogram 1000 --num_sinograms 2 --num_columns 2560
    command:
      - python
      - /aps-mini-apps/build/python/streamer-dist/ModDistStreamPubDemo.py
      - --data_source_addr
      - tcp://10.52.1.30:5109
      - --data_source_synch_addr
      - tcp://10.52.1.30:5108
      - --skip_serialize
      - --cast_to_float32
      - --normalize
      - --my_distributor_addr
      - tcp://*:5205
      - --beg_sinogram
      - "1000"
      - --num_sinograms
      - "2"
      - --num_columns
      - "2560"